<a href="https://colab.research.google.com/github/slatej1/Everside/blob/main/Parse_investment_template_to_deal_cloud_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import openpyxl

In [ ]:
# Read the data from the source file
source_file_path = 'Investment Template_Farragut v4.xlsx'
data = pd.read_excel(source_file_path, sheet_name='eFile', skiprows = 7)  # Adjust sheet_name as needed

print(data.head())

     Unnamed: 0 Unnamed: 1  Unnamed: 2             Company Name  \
0   Ambient Air    LC00001         NaN  Ambient Air Corporation
1      Arandell    LC00002         NaN     Arandell Corporation
2  Arc Drilling    LC00003         NaN       Arc Drilling, Inc.
3          Argo    LC00004         NaN        Argo Systems, LLC
4    Atlas Wire    LC00005         NaN   Atlas Wire Corporation

        Industry         Headquarters State       Date  \
0   Construction      Panama City, FL    FL 2018-05-08
1          Media  Menomonee Falls, WI    WI 2018-05-08
2  Manufacturing      Valley View, OH    OH 2018-05-08
3   Construction          Hanover, MD    MD 2018-05-08
4     Industrial    Schiller Park, IL    IL 2018-05-09

  Date of Investment Memo Date of Exit  ...  Preferred Equity.2  \
0              2012-11-19   2014-03-14  ...                 0.0
1              2014-03-27   2017-12-06  ...                 0.0
2              2017-11-13          NaT  ...           5500000.0
3              2016-02-25   2016-05-25  ...           3150000.0
4              2016-01-29          NaT  ...                 0.0

   Common Equity.2  Warrant.1  Total Sources  Cash to Sellers  Seller Notes  \
0         208008.0        0.0      2428904.0              0.0           0.0
1              0.0        0.0     40860000.0              0.0           0.0
2        3500000.0  3500000.0     22500000.0       12500000.0     8000000.0
3        7850000.0        0.0     20000000.0       10000000.0     9000000.0
4        9000000.0        0.0     19500000.0       16500000.0           0.0

   Cash to Working Capital Refinancing Transaction Expenses  Total Uses
0                      0.0   2428904.0                  0.0   2428904.0
1                  23000.0  39230000.0            1607000.0  40860000.0
2                 500000.0         0.0            1500000.0  22500000.0
3                      0.0         0.0            1000000.0  20000000.0
4                1800000.0         0.0            1200000.0  19500000.0

[5 rows x 82 columns]

In [ ]:
column_mapping = {
    'Company Name': 'E',
    'Industry': 'H',
    'Date of Investment Memo': 'D',
    'Revenue': ['AZ', 'BO'],
    'Adj. EBITDA ': ['BA', 'BP'],
    'Implied EV': ['AX', 'BM'],
    'Description': 'DE',
    'Sourcing': 'J',
    'Sourcing Description': 'K',
    'Investment': 'U',
    'Total Investment': 'R',
    'Senior Debt.1': ['AR', 'BD'],
    'Sr. Subordinated debt.1': ['AT', 'BF'],
    'Cash': 'AJ',
    'Dividend/PIK': 'AK',
    'Cash.1': 'AO',
    'Dividend/PIK.1': 'AP',
    'Ownership.1': 'AQ',
    'Tenor': 'AN',
    'CombinedColumn': {'sources': ['Cash', 'Dividend/PIK'], 'target': 'AL'} ,
    'CombinedColumn': {'sources': ['Senior Debt.1', 'Sr. Subordinated debt.1'], 'target': 'P'} ,
    'SubtractedColumn': {'sources': ['Total Investment', 'Senior Debt.1', 'Sr. Subordinated debt.1'], 'target': 'O'}
}

In [ ]:
template_file_path = 'deal_cloud_dataset_template.xlsx'
workbook = load_workbook(template_file_path)
worksheet = workbook.active

In [ ]:
def col_letter_to_num(letter):
    num = 0
    for char in letter:
        num = num * 26 + (ord(char.upper()) - ord('A') + 1)
    return num

In [ ]:
# Set the first three columns to "Pipeline"
for i in range(len(data)):
    for col_num in range(1, 4):
        worksheet.cell(row=start_row + i, column=col_num, value="Pipeline")

# Write data to the template based on the column mapping
for i, row in data.iterrows():
    for source_col, target_cols in column_mapping.items():
        if isinstance(target_cols, list):
            # Handle mapping a single source column to multiple target columns
            for target_col in target_cols:
                value = row[source_col]
                col_num = col_letter_to_num(target_col)  # Convert column letter to number
                worksheet.cell(row=start_row + i, column=col_num, value=value)
        elif isinstance(target_cols, dict) and 'sources' in target_cols:
            # Handle combined or subtracted columns
            sources = target_cols['sources']
            target_col_letter = target_cols['target']
            if source_col.startswith('Subtracted'):
                # Subtract the sum of specified source columns
                value = row[sources[0]] - sum(row[source] for source in sources[1:])
            else:
                # Combine specified columns
                value = sum(row[source] for source in sources)
            col_num = col_letter_to_num(target_col_letter)  # Convert column letter to number
            worksheet.cell(row=start_row + i, column=col_num, value=value)
        else:
            # Single column mapping
            value = row[source_col]
            col_num = col_letter_to_num(target_cols)  # Convert column letter to number
            worksheet.cell(row=start_row + i, column=col_num, value=value)


# Save the updated template
output_file_path = 'output_file_farragut_v4-v7.xlsx'
workbook.save(output_file_path)